
@mixin responsive($size) {
   @media screen and (min-width: $size) {
      @content;
   }
}

@mixin button() {
   display: inline-block;
   padding: 1.2rem 3rem;
   background: rgb(49,211,92);
   background: linear-gradient(90deg, rgba(49,211,92,1) 5%, rgba(43,183,218,1) 100%);
   border-radius: 2rem;
   font-size: 1.5rem;
   font-weight: 700;
   color: $White;
}