
$fontBody: 'Public Sans', sans-serif;

$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: #31d35c;
$BrightCyan: #2bb7da;

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);